<fieldset>
  <div class="movies">
    <% @movies.each do | movie | %>
    <div class="panel">
      <%= link_to movie.title, movie_path(movie)%>
      <%= movie.year %>
    </div>
    <% end %>
  </div>
</fieldset>
