<div class="movie_h3">
  <h3>MovieHub</h3>
</div>

<% if !@movies.empty?%>
  <div class="movies">
    <% @movies.each do | movie | %>
    <div class="panel">
      <span><%= link_to movie.title, movie_path(movie) %></span>
      <%= movie.year %>
    </div>
    <% end %>
  </div>
<% end %>
