<h3>New Movie</h3>

<%= form_for @movie do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <div id="titles-list-container">
    <ul id="titles-list"></ul>
  </div>
  <p>
    <%= f.submit "Create a New Movie", class: "medium button radius", id: "movie-submit" %>
  </p>
<% end %>
