<h3><%= @movie.title %></h3>

<p><%= @movie.year %></p>

<div data-alert class="alert-box">
  <%= button_to "Delete this Movie", {:controller => :movies,
        :action => 'destroy', :id => @movie.id }, :method => :delete, class: "medium button radius" %>
      </ul>
  <a href="#" class="close">&times;</a>
</div>
