/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */


body {
  background-color: #3C0201;
  color: #fff;
  font-weight: bold;
}

.test {
  background-color: red;
  display: inline-block;
}

.flash {
  background-color: #49A840; /* green */
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline-block;
}

.cancel-review,
.review-form {
  display: none;
}

.movie-icons {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

.icons {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

.votes {
  margin-left: 1.4em;
}

.vote-up,
.vote-down {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
}


.review-form {
  display: none;
}

.has-form .button {
  background-color :#990909;
}

.has-form .button:hover {
  background-color :white;
  border: solid;
  border-width: .007em;
  border-color: #990909;
  color: #3C0201;
  font-weight: bold;
}


.main-content {
  padding-left: 5em;
  padding-right: 5em;
  height: 80vh;
  background-color: black;
  box-shadow: 5px 5px 5px black;
  border-radius: .6em;
  overflow: auto;
  opacity: 1;
  background-image: url(http://nilusi.com/images/img5/black-texture-design-inspiration-2.jpg);
  background-size: 100% 100%;
}


.body-content {
  margin-left: 3.45em;
  margin-right: 3.45em;
}

.movie-header h1 {
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 10px yellow;
  letter-spacing: .5em;
  font-family: 'Lobster', cursive;
  margin-top: -.1em;
  margin-bottom: -.075em;
}

.right {
  border-bottom: solid;
  border-width: .5em;
  border-color: white;
  border-radius: 5em;
}

.left {
  border-bottom: solid;
  border-width: .5em;
  border-color: white;
  border-radius: 5em;
}

.row-carousel {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: 1em;
}

.top-bar {
  background-color: #3C0201;
}

.body-content .opacity-reset {
  opacity: 1;
}

#titles-list-container {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 50em;
}

#titles-list li {
  list-style: none;
  color: #000;
}

li {
  list-style: none;
}

#profile-link {
  margin: 0;
  padding: 0;
}

#profile-icon {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  margin-top: -3.5px;
}
