h3 {
  text-align: right;
  padding-right: 2em;

}

.row-form {
  margin-top: 15em;
  margin-left: 35em;
  margin-right: 35em;
  text-align: center;
}

.row-form input {
  background-color: #262626;
  text-align: center;
  border-radius: 5em;
}

.row-form label {
  color: white;
}

.row-form .button {
  margin-top: 1em;
  border-radius: 5em;
}

.row-movie-index {
  overflow: auto;
}

.slider-for img {
  width: 30em;
  height: auto;
  margin: 5em;
}

.feature-presentation img {
  width: 40em;
  height: auto;
  opacity: 1;
}

.movie-info li {
  display: inline-block;
}

.r-container {
  float: right;
}

.review-container {
  padding-left: 10em;
  padding-right: 10em;
}

.left-column {
  margin-top: 1em;
  position: fixed;
  width: 20em;
  height: auto;
}

.right-column .top-row {
  position: fixed;
}

.right-column .bottom-row {
  height: 10em;
  overflow: auto;
}

h3 {
  font-size: 1.5em;
}

.row .movie-info {
  padding-left: 10em;
}

#index-page-container {
  width: 100em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.genres-carousel-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.big-carousel-container {
  margin-left: auto;
  margin-right: auto;
  width: 70em;
}

.tending-movies-img {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.carousel-picture {
  width: 10em;
  height: auto;
  padding: 0em;
}

.carousel-movie-container {
  text-align: center;
  padding: 0;
  margin: 0;
}

