h3 {
  text-align: right;
  padding-right: 2em;

}

.row-form {
  margin-top: 15em;
  margin-left: 35em;
  margin-right: 35em;
  text-align: center;
}

.row-form input {
  background-color: #262626;
  text-align: center;
  border-radius: 5em;
}

.row-form label {
  color: white;
}

.row-form .button {
  margin-top: 1em;
  border-radius: 5em;
}

.row-movie-index {
  overflow: auto;
}
